In [1]:
import pyspark
import findspark

findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('example').getOrCreate()

In [2]:
columns = ['First name', 'Last name']
values = [('Tran', 'Binh'),
         ('Pham', 'Nguyen'),
         ('Le', 'Long'),
         ('Hoang', 'Ha')]

In [3]:
df = spark.createDataFrame(values, columns)

In [4]:
#show dataframe
df.show()

+----------+---------+
|First name|Last name|
+----------+---------+
|      Tran|     Binh|
|      Pham|   Nguyen|
|        Le|     Long|
|     Hoang|       Ha|
+----------+---------+

In [5]:
df.limit(5).toPandas()

  First name Last name
0       Tran      Binh
1       Pham    Nguyen
2         Le      Long
3      Hoang        Ha

In [6]:
df.printSchema()

root
 |-- First name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [7]:
df.describe().show()

+-------+----------+---------+
|summary|First name|Last name|
+-------+----------+---------+
|  count|         4|        4|
|   mean|      NULL|     NULL|
| stddev|      NULL|     NULL|
|    min|     Hoang|     Binh|
|    max|      Tran|   Nguyen|
+-------+----------+---------+

In [8]:
df.select('First name').summary().show()

+-------+----------+
|summary|First name|
+-------+----------+
|  count|         4|
|   mean|      NULL|
| stddev|      NULL|
|    min|     Hoang|
|    25%|      NULL|
|    50%|      NULL|
|    75%|      NULL|
|    max|      Tran|
+-------+----------+

In [11]:
from pyspark.sql import functions
df = df.select(functions.concat_ws(" ", "First name", "Last name").alias("Full name")) #rename column
df.show()

+-----------+
|  Full name|
+-----------+
|  Tran Binh|
|Pham Nguyen|
|    Le Long|
|   Hoang Ha|
+-----------+